@charset "UTF-8"; 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0;display:block;}
:focus{outline:0}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:0;font-variant:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
code,kbd,samp,tt{font-size:100%}
input,button,textarea,select{*font-size:100%}
body{line-height:1.5}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%; vertical-align:baseline}
:link,:visited ,ins{text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}


.left {
    float:left;
}
.right {
    float:right;
}
.red {
    color:#F84904;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {
    *+height:1%;
}
a {
    color:#636363;
}
a:hover {
    color:#B3010D;
}
.wrapper {
    width:1200px;
    margin:0 auto;
}
.pstrl {
    position:relative;
}
body {
    width: 100%;
    height: 100%;
    color: #636363;
    font-family: Helvetica, "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
    font-size: 12px;
    background: #F9F9F9;
}
.dot {
    float: left;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: #F84904;
}
.name {
    margin-bottom: 15px;
}
.name h5 {
    line-height: 12px;
    _line-height: 18px;
    font-size: 14px;
    padding-left: 15px;
}
/* Top */
#top {
    height:140px;
}
#top h1 {
    position:absolute;
    top:0px;
    left:280px;
    width:920px;
    font-size:30px;
    line-height:140px;
    padding-left:50px;
    display:block;
    z-index:9;
}
#top h1 a {
    color:#626262;
}
.function {
    margin-top:-25px;
    color:#000;
}
.function a {
    color:#000;
}
.function span {
    padding:0 5px;
}
#messages q {
    border-radius:8px;
    margin-left:5px;
    padding:2px;
    background:red;
}
#orangebar {
    position:absolute;
    top:0px;
    left:0;
    z-index:999;
}
#orangebar a {
    color:#000;
}
#orangebar span {
    line-height:43px;
    padding:0 5px;
}


/* left */
#left {
    position:absolute;
    top:-100px;
    left:0;
    width:280px;
    height:790px;
    border:1px solid #CCC;
    border-radius:5px;
    background:#FFF;
    margin-right:25px;
    z-index:999;
}
.avatar {
    width:114px;
    height:114px;
    display:block;
    margin:16px;
    border:1px solid #CCC;
}
.score {
    margin:115px 30px 0 0;
    font-size:14px;
}
.member {
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    color:#3183C2;
    font-size:16px;
    padding-left:15px;
    height:55px;
    line-height:55px;
    _margin-top:16px;
}

#nav {
    padding:10px 20px;
}
#nav li {
    width:220px;
    height:36px;
    line-height:36px;
    margin-bottom:10px;
}
#nav li a {
    display:block;
    width:220px;
    height:36px;
    padding-left:17px;
    border:1px solid #CCC;
    border-radius:3px;
}
#nav li a:hover, #nav .select {
    border:1px solid #F84904;
}
#hotline {
    font-size: 16px;
    padding-left: 33px;
    margin-top: 180px;
}
#hotline .hotline {
    font-size: 24px;
    padding-left: 47px;
}


#right {
    position:absolute;
    top:20px;
    left:300px;
    width:890px;
    height:670px;
}

.address .unlovely {
    border:1px solid red;
}



















.pagenavis {
    margin: 20px 25px 0px 0;
}
.all {
    padding: 10px 10px;
    line-height: 25px;
}
.pagenavi {
    padding: 10px 0;
    text-align: center;
    line-height: 25px;
}
.pagenavi span, .pagenavi a {
    padding: 0;
    width: 50px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin: 0 5px 0 0;
    display: inline-block;
    color: #383838;
    border-bottom: #383838 1px solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.pagenavi a:hover, .pagenavi .current {
    background: #C00000;
    color: white;
}







#footer {
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #8F8F8F;
    margin-top: 750px;
    color: white;
}


/* 错误提示 */
.unhappyMessage {
    color:#F00;
    padding-left:5px;
}